.album-header-container {
  position: relative;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 5px;
}

.album-header {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  display: flex;
  color: #fff;
  justify-content: flex-start;
  padding-bottom: 5px;
  border-bottom: 1px solid #3f3f3f;
}
