/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  padding: 20px; /* Add some padding to separate from the edges */
}

.album-container {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px; /* Add gap between album items */
}

.album {
  position: relative;
  margin-bottom: 20px;
  width: 100%; /* Updated width for responsive design */
  max-width: 640px; /* Limit maximum width to 640px */
  cursor: pointer;
  display: flex; /* Make the album a flex container */
  flex-direction: column; /* Arrange items vertically */
}

.cover-wrapper {
  transition: transform 0.2s ease-in-out;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text content */
  position: relative; /* Z-index control */
}

.album img {
  display: block;
  width: 100%;
  height: auto;
}

.album-overlay {
  display: flex;
  justify-content: space-around; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Add a background overlay */
}

.cover-wrapper:hover {
  transform: scale(1.05); /* Enlarge the album on hover */
}

.cover-wrapper:hover .album-overlay {
  opacity: 1; /* Fade in the overlay on hover */
}

.play-button img {
  filter: invert(0.7);
  width: 80px; /* Set play button size */
  height: 80px;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out; /* Add transform transition */
}

.play-button:hover img {
  transform: scale(1.1); /* Slightly enlarge play button on hover */
  filter: invert(1); /* Full opacity on hover */
}

.favorite-button img,
.more-button img {
  filter: invert(1);
  width: 30px; /* Set favorite and more button size */
  height: 30px;
  margin: 10px; /* Add margin to separate buttons */
  transition: transform 0.2s ease-in-out; /* Add transform transition */
}

.favorite-button:hover img,
.more-button:hover img {
  transform: scale(1.1); /* Slightly enlarge favorite and more buttons on hover */
}

.play-button,
.favorite-button,
.more-button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 769px) {
  .album {
    width: calc(25% - 20px); /* 4 albums per row on desktop */
  }
}

@media (max-width: 768px) {
  .album {
    width: calc(50% - 20px); /* 2 albums per row on tablet */
  }
}

@media (max-width: 480px) {
  .album {
    width: 100%; /* 1 album per row on mobile */
  }
}
