.album-name {
  text-align: left; /* Align text to the left */
  margin-top: 10px; /* Add top margin to create spacing */
}

.album-name h2,
.album-name a {
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.album-name a:hover {
  text-decoration: underline;
  color: #fff;
}

