.artist-names h3 {
  font-family: Helvetica, sans-serif;
  color: #c7c7c7;
  font-size: 15px;
}

.artist-names a {
  font-family: Helvetica, sans-serif;
  color: #c7c7c7;
  font-size: 15px;
  text-decoration: none;
}

.artist-names a:hover {
  text-decoration: underline;
  color: #c7c7c7;
}

.separator {
  color: #c7c7c7;; 
}
Now, the separators (, and &) will be colored as per your CSS rule. Adjust the color in the CSS to achieve the desired appearance.





