.artist-names h3 {
  font-family: Helvetica, sans-serif;
  color: #a0a0a0;
  font-size: 14px;
  margin-top: 10px;
}

.artist-names a {
  font-family: Helvetica, sans-serif;
  color: #a0a0a0;
  font-size: 14px;
  text-decoration: none;
}

.artist-names a:hover {
  text-decoration: underline;
  color: #a0a0a0;
}

.separator {
  font-family: Helvetica, sans-serif;
  color: #a0a0a0;
  font-size: 14px;
}
